.content {
  height: 100vh;
  padding: 2rem 6rem;
  display: grid;
  grid-template-areas: 'box1 box2'
                       'box3 box4';
  grid-gap: 1rem;

  &_card {
    border: 1px solid #000;
    padding: 20px;

    &--1 {
      grid-area: box1;
      min-height: 70vh;
    }

    &--2 {
      grid-area: box2;
      max-height: 45vh;
    }

    &--3 {
      grid-area: box3;
      max-height: 25vh;
    }

    &--4 {
      grid-area: box4;
      min-height: 45vh;
      align-self: stretch;
    }
  }
}