.content {
  height: 100vh;
  padding: 2rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 'box1 box2'
                       'box1 box2'
                       'box1 box2'
                       'box1 box4'
                       'box1 box4'
                       'box3 box4';
  grid-gap: 1rem;

  &_card {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;

    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      text-align: center;
    }

    &--1 {
      grid-area: box1;
    }

    &--2 {
      grid-area: box2;
    }

    &--3 {
      grid-area: box3;
      overflow: hidden;
      padding-top: 1rem;
    }

    &--4 {
      grid-area: box4;
    }

    .error {
      margin-top: 10rem;
      text-align: center;
      color: #cc0000;
      font-size: 1.6rem;
    }
  }

  &_card-results1 {
    width: 100%;
    margin-top: 2.2rem;

    .news-result {
      margin: 1.2rem 0;
      width: 100%;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: height 5s ease-in;

      a {
        margin-left: .8rem;

        h3 {
          margin-bottom: .3rem;
          font-size: 1.4rem;
        }

        p {
          font-size: 1.2rem;
        }
      }

      img {
        width: 15rem;
        height: 100%;
      }
    }
  }

  &_card-results2 {
    width: 100%;
    margin-top: 2.2rem;

    .reddit-results {
      display: flex;
      width: 100%;
      margin: 1.2rem 0;
      opacity: 0;

      img {
        height: 15rem;
        margin-right: 1.2rem;
        align-self: center;
      }
      > div {
        font-size: 1.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        a {
          text-align: center;
        }
      }
    }
  }

  &_card-results3 {
    width: 100%;
    display: flex;
    justify-content: center;
  
    img {
      width: 4.5rem;
      margin: .4rem 0 .8rem .8rem;
    }
  }

  &_card-results4 {
    width: 100%;
    margin-top: 2.2rem;

    .youtube-results {
      display: flex; 
      flex-direction: column;
      align-items: center;
      margin: 1.2rem 0;
      width: 100%;
      font-size: 1.2rem;
      opacity: 0;

      img {
        height: 10rem;
        margin-bottom: .8rem;
      }

      p {
        text-align: center;
      }
    }
  }

  @media (max-width: 1020px) {
    .reddit-results img {
      height: 13rem;
    }
  }

  @media (max-width: 860px) {
    height: auto;
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-template-areas:'box1 box1'
                        'box2 box2'
                        'box4 box4'
                        'box3 box3';

    &_card {
      max-height: 70vh;
    }
  }

  @media (max-width: 620px) {
    .reddit-results img {
      height: 8rem;
    }
  }

  @media (max-width: 460px) {
    &_card {
      //max-height: 
      
      .reddit-results {
        flex-direction: column;
      }

      .news-result {
        flex-direction: column;
      }
    }
  }
}

.hidden {
  display: none;
}

@keyframes fadeIn{
  0% {opacity: 0}
  100% {opacity: 1};
}
