.content {
  height: 105vh;
  // padding: 1rem;
  background: $main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 'box1 box2'
                       'box1 box2'
                       'box1 box2'
                       'box1 box4'
                       'box1 box4'
                       'box3 box4';
  grid-gap: 1rem;

  &_card {
    background: $light;
    border: 1px solid $dark;
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: box-shadow .4s;

    &:hover {
      box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
    }
    
    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      text-align: center;
    }

    > span:first-of-type {
      color: #4682b4;
      display: block;
      text-align: center;
    }

    &--1 {
      grid-area: box1;
    }

    &--2 {
      grid-area: box2;

      > p {
        font-size: 1.8rem;
        color:  rgb(50, 147, 219);
        text-transform: uppercase;
      }
    }

    &--3 {
      grid-area: box3;
      overflow: hidden;
      padding-top: 1rem;
    }

    &--4 {
      grid-area: box4;

      > p {
        font-size: 1.8rem;
        color:  #ff0000;
        text-transform: uppercase;
      }
    }

    .error {
      margin-top: 10rem;
      text-align: center;
      color: #cc0000;
      font-size: 1.6rem;
    }
  }

  &_card-results1 {
    width: 100%;
    margin-top: 2.2rem;

    .news-result {
      margin: 1.2rem 0;
      width: 100%;
      display: flex;
      align-items: center;
      min-height: 70px;
      transition: transform .3s;

      &:hover {
        transform: scale(1.05)
      }

      img {
        width: 15rem;
      }

      a {
        margin-left: .8rem;

        h3 {
          margin-bottom: .3rem;
          font-size: 1.4rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  &_card-results2 {
    width: 100%;
    margin-top: 1.2rem;

    .reddit-results {
      display: flex;
      width: 100%;
      margin: 1.2rem 0;
      background: lighten($light, 2%);
      border: 1px solid #fff;
      border-radius: 3px;
      box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);

      div:first-child {
        align-self: center;
      }
   
       img {
        height: 100%;
        width: 25rem;
      }

      .reddit-results_info {
        font-size: 1.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        a {
          text-align: center;
        }

        h3 {
          margin-left: .5rem;
        }

        > *:hover:not(span) {
          text-decoration: underline;
        }
      }
    }
  }

  &_card-results3 {
    width: 100%;
    display: flex;
    justify-content: center;
  
    img {
      width: 5rem;
      margin: 1rem .8rem;
    }

    a {
      transition: all .2s;

      &:hover {
        transform: translateY(-4px);
      }
    }
  }

  &_card-results4 {
    width: 100%;
    margin-top: 1.2rem;

    .youtube-results {
      display: flex; 
      flex-direction: column;
      align-items: center;
      margin: 1.2rem 0;
      width: 100%;
      font-size: 1.2rem;

      img {
        height: 12rem;
      }

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  @media (max-width: 1020px) {
    .reddit-results img {
      width: 15rem;
    }
  }

  @media (max-width: 860px) {
    height: auto;
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-template-areas:'box1'
                        'box2'
                        'box4'
                        'box3';
    grid-gap: 1.5rem;

    &_card {
      max-height: 70vh;
    }
  }

  @media (max-width: 620px) {
    .reddit-results img {
      width: 13rem;
    }
  }

  @media (max-width: 460px) {
    &_card {
      //max-height: 

      .reddit-results {
        flex-direction: column;

        > div:first-of-type {
           margin: 0 auto;
        }
      }

      .news-result {
        flex-direction: column;

        h3, p {
          text-align: center;
        }
      }
    }
  }
}

.lazy1, .lazy2, .lazy4 {
  background: url(../images/src/loading.gif);
  background-size: cover;
}

.lazy1, .lazy4 {
  height: 10rem;
  width: 15rem;
}

.lazy2 {
  height: 20rem;
  width: 25rem;
}

.lazy4 {
  margin-bottom: .8rem;
}

img[data-src1], 
img[data-src2], 
img[data-src4] {
  opacity: 0;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}





