* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

select {
  border-radius: 0; }

select, input, label {
  cursor: pointer; }

html {
  font-size: 10px; }

.content {
  height: 100vh;
  padding: 2rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 'box1 box2' 'box1 box2' 'box1 box2' 'box1 box4' 'box1 box4' 'box3 box4';
  grid-gap: 1rem; }
  .content_card {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: hidden; }
    .content_card h2 {
      font-size: 2.2rem;
      font-weight: 400;
      text-align: center; }
    .content_card--1 {
      grid-area: box1; }
    .content_card--2 {
      grid-area: box2; }
    .content_card--3 {
      grid-area: box3;
      overflow: hidden;
      padding-top: 1rem; }
    .content_card--4 {
      grid-area: box4; }
    .content_card .error {
      margin-top: 10rem;
      text-align: center;
      color: #cc0000;
      font-size: 1.6rem; }
  .content_card-results1 {
    width: 100%;
    margin-top: 2.2rem; }
    .content_card-results1 .news-result {
      margin: 1.2rem 0;
      width: 100%;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: height 5s ease-in; }
      .content_card-results1 .news-result a {
        margin-left: .8rem; }
        .content_card-results1 .news-result a h3 {
          margin-bottom: .3rem;
          font-size: 1.4rem; }
        .content_card-results1 .news-result a p {
          font-size: 1.2rem; }
      .content_card-results1 .news-result img {
        width: 15rem;
        height: 100%; }
  .content_card-results2 {
    width: 100%;
    margin-top: 2.2rem; }
    .content_card-results2 .reddit-results {
      display: flex;
      width: 100%;
      margin: 1.2rem 0;
      opacity: 0; }
      .content_card-results2 .reddit-results img {
        height: 15rem;
        margin-right: 1.2rem;
        align-self: center; }
      .content_card-results2 .reddit-results > div {
        font-size: 1.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        .content_card-results2 .reddit-results > div a {
          text-align: center; }
  .content_card-results3 {
    width: 100%;
    display: flex;
    justify-content: center; }
    .content_card-results3 img {
      width: 4.5rem;
      margin: .4rem 0 .8rem .8rem; }
  .content_card-results4 {
    width: 100%;
    margin-top: 2.2rem; }
    .content_card-results4 .youtube-results {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.2rem 0;
      width: 100%;
      font-size: 1.2rem;
      opacity: 0; }
      .content_card-results4 .youtube-results img {
        height: 10rem;
        margin-bottom: .8rem; }
      .content_card-results4 .youtube-results p {
        text-align: center; }
  @media (max-width: 1020px) {
    .content .reddit-results img {
      height: 13rem; } }
  @media (max-width: 860px) {
    .content {
      height: auto;
      grid-template-columns: none;
      grid-template-rows: auto;
      grid-template-areas: 'box1 box1' 'box2 box2' 'box4 box4' 'box3 box3'; }
      .content_card {
        max-height: 70vh; } }
  @media (max-width: 620px) {
    .content .reddit-results img {
      height: 8rem; } }
  @media (max-width: 460px) {
    .content_card .reddit-results {
      flex-direction: column; }
    .content_card .news-result {
      flex-direction: column; } }

.hidden {
  display: none; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.news-navbar {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin: 1.6rem 0; }
  .news-navbar li:not(:last-child) {
    margin-right: .8rem;
    border-right: .5px solid #000;
    padding-right: .8rem; }
  .news-navbar li {
    transition: all .3s;
    cursor: pointer; }
  .news-navbar li:hover {
    text-decoration: underline; }
  @media (max-width: 1080px) {
    .news-navbar {
      height: 0;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      margin: 0;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      z-index: 1;
      transition: height .3s ease-in-out; }
      .news-navbar li:not(:last-child) {
        margin-bottom: .5rem;
        border-right: none; } }

.menu {
  display: none; }
  @media (max-width: 1080px) {
    .menu {
      display: block;
      width: 4rem; } }

.collapse {
  height: 20rem; }

#search {
  margin: 1.6rem 0;
  display: flex;
  justify-content: center; }
  #search select {
    max-width: 6.5rem; }
  #search input {
    padding: .6rem .8rem;
    font-size: 1.6rem; }
  #search .btn {
    cursor: pointer; }

.footer {
  font-size: 2rem;
  margin: 1.2rem 0;
  text-align: center; }

.header {
  text-align: center; }
  .header h1 {
    font-size: 3.8rem;
    margin: 1rem 0;
    line-height: 1.4;
    letter-spacing: .7px; }
  .header p {
    font-size: 1.8rem; }
