@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideTop {
  0% {
    transform: translateY(70px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.bold {
  font-weight: bold; }

.hidden {
  display: none; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
button {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

select, input, button {
  cursor: pointer; }

html {
  font-size: 10px;
  font-family: 'Karla', sans-serif; }

.content {
  height: 110vh;
  background: #e1e8f0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 'box1 box2' 'box1 box2' 'box1 box2' 'box1 box4' 'box1 box4' 'box3 box4';
  grid-gap: 1rem; }
  .content_card {
    background: #F5F5F5;
    border: 1px solid #0F1626;
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: box-shadow .4s; }
    .content_card:hover {
      box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75); }
    .content_card h2 {
      font-size: 2.2rem;
      font-weight: 400;
      text-align: center; }
    .content_card > span:first-of-type {
      color: #4682b4;
      display: block;
      text-align: center; }
    .content_card--1 {
      grid-area: box1; }
    .content_card--2 {
      grid-area: box2; }
      .content_card--2 > p {
        font-size: 1.8rem;
        color: #3293db;
        text-transform: uppercase; }
    .content_card--3 {
      grid-area: box3;
      overflow: hidden;
      padding-top: 1rem;
      padding-bottom: 1rem; }
    .content_card--4 {
      grid-area: box4; }
      .content_card--4 > p {
        font-size: 1.8rem;
        color: #ff0000;
        text-transform: uppercase; }
    .content_card .error {
      margin-top: 3rem;
      text-align: center;
      font-size: 1.6rem; }
      .content_card .error h3 {
        color: #cc0000; }
        .content_card .error h3 span {
          font-style: italic; }
    .content_card .lazy1, .content_card .lazy2, .content_card .lazy4 {
      background: url(../images/src/loading.gif);
      background-size: cover; }
    .content_card .lazy1 {
      height: 10rem;
      width: 15rem; }
    .content_card .lazy2 {
      height: 20rem;
      width: 25rem; }
    .content_card .lazy4 {
      margin-bottom: .8rem;
      height: 17rem;
      width: 30rem; }
    .content_card img[data-src1],
    .content_card img[data-src2],
    .content_card img[data-src4] {
      opacity: 0; }
  .content .news-results {
    width: 100%;
    margin-top: 2.2rem; }
    .content .news-results_result {
      margin: 1.2rem 0;
      width: 100%;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      min-height: 7rem;
      transition: transform .3s; }
      .content .news-results_result:hover {
        transform: scale(1.05); }
      .content .news-results_result img {
        width: 15rem; }
      .content .news-results_result a {
        margin-left: .8rem; }
        .content .news-results_result a h3 {
          margin-bottom: .3rem; }
  .content .reddit-results {
    width: 100%;
    margin-top: 1.2rem; }
    .content .reddit-results_result {
      display: flex;
      width: 100%;
      margin: 1.2rem 0;
      font-size: 1.4rem;
      background: #fafafa;
      border: 1px solid #fff;
      border-radius: 3px;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25); }
      .content .reddit-results_result img {
        height: 100%;
        width: 25rem; }
      .content .reddit-results_result-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .content .reddit-results_result-info a {
          text-align: center; }
        .content .reddit-results_result-info h3 {
          margin: 1.2rem .5rem 0 .5rem; }
          .content .reddit-results_result-info h3 + p {
            margin-bottom: 1.2rem; }
        .content .reddit-results_result-info > *:hover:not(span) {
          text-decoration: underline; }
  .content .media-icons {
    width: 100%;
    display: flex;
    justify-content: center; }
    .content .media-icons img {
      width: 5rem;
      margin: 1rem .8rem; }
    .content .media-icons a {
      transition: all .2s; }
      .content .media-icons a:hover {
        transform: translateY(-4px); }
    @media only screen and (min-height: 1300px) {
      .content .media-icons {
        height: 100%;
        align-items: center; } }
  .content .youtube-results {
    width: 100%;
    margin-top: 1.2rem; }
    .content .youtube-results_result {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2.2rem 0;
      width: 100%;
      font-size: 1.2rem; }
      .content .youtube-results_result a:first-of-type {
        position: relative; }
        .content .youtube-results_result a:first-of-type img {
          width: 30rem;
          border: 5px solid #c2c2c2;
          border-radius: 3px; }
        .content .youtube-results_result a:first-of-type .video-hover {
          opacity: 0;
          background: rgba(0, 0, 0, 0.25);
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 2.2rem;
          font-weight: bold;
          width: 100%;
          height: 100%;
          transition: opacity .5s; }
          .content .youtube-results_result a:first-of-type .video-hover:hover {
            opacity: 1; }
      .content .youtube-results_result h3, .content .youtube-results_result p {
        text-align: center; }
        .content .youtube-results_result h3:hover, .content .youtube-results_result p:hover {
          text-decoration: underline; }
  @media only screen and (max-width: 1080px) {
    .content .reddit-results_result
img {
      width: 20rem; }
      .content .reddit-results_result
img-info {
        font-size: 1.2rem; }
    .content .youtube-results_result a:first-of-type img {
      width: 27rem; }
    .content .lazy2 {
      height: 15rem;
      width: 20rem; }
    .content .lazy4 {
      height: 16rem;
      width: 27rem; } }
  @media (max-width: 860px) {
    .content {
      height: auto;
      grid-template-columns: none;
      grid-template-rows: auto;
      grid-template-areas: 'box1' 'box2' 'box4' 'box3';
      grid-gap: 2rem; }
      .content_card {
        max-height: 90vh; }
      .content .news-results_result {
        font-size: 1.4rem; }
        .content .news-results_result img {
          width: 20rem; }
      .content .reddit-results_result {
        font-size: 1.6rem; }
        .content .reddit-results_result img {
          width: 23rem; }
      .content .youtube-results_result {
        font-size: 1.4rem; }
        .content .youtube-results_result a:first-of-type img {
          width: 28rem; }
      .content .lazy1 {
        height: 14rem;
        width: 20rem; }
      .content .lazy2 {
        height: 16rem;
        width: 23rem; }
      .content .lazy4 {
        height: 17rem;
        width: 28rem; } }
  @media (max-width: 580px) {
    .content .reddit-results_result {
      font-size: 1.4rem; }
      .content .reddit-results_result img {
        width: 20rem; }
    .content .youtube-results_result a:first-of-type img {
      width: 25rem; }
    .content .news-results_result, .content .youtube-results_result {
      font-size: 1.3rem; }
    .content .lazy2 {
      height: 15rem;
      width: 20rem; }
    .content .lazy4 {
      height: 16rem;
      width: 25rem; } }
  @media (max-width: 460px) {
    .content_card {
      padding: 1rem; }
      .content_card .reddit-results_result img {
        width: 17rem; }
      .content_card .news-results_result {
        flex-direction: column; }
        .content_card .news-results_result h3, .content_card .news-results_result p {
          text-align: center; }
      .content_card .youtube-results_result a:first-of-type img {
        width: 22rem; }
    .content .lazy2 {
      height: 12rem;
      width: 17rem; }
    .content .lazy4 {
      height: 14rem;
      width: 22rem; } }
  @media only screen and (max-width: 420px) {
    .content .reddit-results_result {
      flex-direction: column; }
      .content .reddit-results_result > div:first-of-type {
        margin: 0 auto; }
        .content .reddit-results_result > div:first-of-type img {
          width: 18rem; } }
  .content .lazy2 {
    height: 16rem;
    width: 20rem; }

.news-navbar {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin: 1.6rem 0; }
  .news-navbar li {
    transition: all .3s;
    cursor: pointer; }
    .news-navbar li:not(:last-child) {
      margin-right: .8rem;
      border-right: .5px solid #000;
      padding-right: .8rem; }
    .news-navbar li:hover {
      text-decoration: underline; }
  @media (max-width: 1080px) {
    .news-navbar {
      height: 0;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      margin: 0;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      transition: height .3s ease-in-out; }
      .news-navbar li:not(:last-child) {
        margin-bottom: .8rem;
        border-right: none; } }

.news-menu img {
  display: none; }
  @media (max-width: 1080px) {
    .news-menu img {
      display: block;
      width: 4rem; } }

.collapse {
  height: 20rem; }

.search-area {
  background: #0F1626;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center; }
  .search-area #search {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10rem;
    width: 40rem; }
    .search-area #search > * {
      border: none;
      background: #1D3249;
      transition: background-color .3s; }
      .search-area #search > *:hover {
        background-color: #162637; }
    .search-area #search select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: .9rem;
      font-weight: bold;
      color: #777777;
      width: 100%;
      margin-right: -1px;
      padding-left: 1.5rem;
      border-radius: 10rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-image: url("../images/build/dropDown.png");
      background-size: 2.5rem;
      background-position: 100% 50%;
      background-repeat: no-repeat; }
    .search-area #search input {
      padding: 1.2rem 6rem 1.2rem 3rem;
      font-size: 1.6rem;
      text-align: center;
      color: #a9a9a9; }
    .search-area #search .btn {
      width: 100%;
      margin-left: -1px;
      border-radius: 100px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .search-area #search .btn img {
        height: 2rem;
        padding: 0 1rem;
        transition: all .8s; }
    @media only screen and (max-width: 40rem) {
      .search-area #search {
        width: 36rem; }
        .search-area #search input {
          padding-left: 2rem;
          padding-right: 3rem; } }
    @media only screen and (max-width: 36rem) {
      .search-area #search {
        width: 32rem; }
        .search-area #search input {
          padding-left: 0rem;
          padding-right: 0rem; }
        .search-area #search select {
          padding-left: .5rem;
          background-position: 115% 50%; } }

.footer {
  background: #0F1626;
  color: #fff;
  font-size: 2rem;
  padding: 1.2rem 0;
  text-align: center; }

.header {
  height: 91vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/build/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header > * {
    opacity: 0;
    animation: slideTop .7s ease-in-out .2s both; }
  .header h1 {
    font-size: 5.2rem;
    line-height: 1.4;
    letter-spacing: .7px; }
  .header p {
    font-size: 2.2rem; }
  @media only screen and (max-width: 520px) {
    .header h1 {
      font-size: 3.2rem; }
    .header p {
      font-size: 1.4rem; } }
